.header {
  min-height: 8rem;
  border-bottom: 0.3rem black solid;
  background-color: var(--light-pink);

  display: grid;
  grid-template-areas:
    'button'
    'info';
  grid-template-rows: auto auto;
}

.connected {
  background-color: var(--pink);
}

.info-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  @media screen and (min-width: 480px) {
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }

  span {
    padding: 0 1rem;
  }
}

.chain-name {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: button;
  padding-top: 1rem;
}

@media screen and (min-width: 480px) {
  .header {
    grid-template-areas: 'info button';
    grid-template-rows: auto;
    grid-template-columns: 9fr 3fr;
  }

  .button-container,
  .info-container {
    padding: 0;
  }
}
